@import "tailwindcss";

@font-face {
  font-family: IRANYekanBold;
  src: url("/fonts/IRANYekanBold.ttf");
}
@font-face {
  font-family: IRANYekanMedium;
  src: url("/fonts/IRANYekanMedium.ttf");
}
@font-face {
  font-family: Morabba;
  src: url("/fonts/Morabba-Medium.ttf");
}
@font-face {
  font-family: Graphik;
  src: url("/fonts/Graphik-Medium.otf");
}

@theme {
  --color-primary: #3490dc;
  --color-primaryLight: #3490dc80;

  --color-secondry: #00a693;
  --color-secondryLight: #00a69380;
}

body {
  font-family: IRANYekanMedium;
}

.IRANYekanBold {
  font-family: IRANYekanBold;
}
.Morabba {
  font-family: Morabba;
}
.Graphik {
  font-family: Graphik;
}

/* برای همه جدول‌های کاربران */
.gridjs-input .gridjs-search-input {
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 14px;
  text-align: right;
  direction: rtl;
}
.gridjs-input:focus {
  box-shadow: none !important;
}

.gridjs-th-content,
.gridjs-td {
  direction: rtl;
  text-align: right;
}

.gridjs-footer {
  direction: ltr;
}

.gridjs-head {
  display: flex;
  margin-top: 1rem;
}

.gridjs-table {
  background-color: white; /* Light mode */
  border-collapse: none;
}
.gridjs-wrapper {
  border: none;
}
.dark .gridjs-table {
  background-color: #374151; /* Dark mode خاکستری تیره */
}
.dark .gridjs-th {
  background-color: #1f2937; /* Dark mode هدر */
  color: #f9fafb;
  border: 1px solid #1f2937;
}
.dark .gridjs-th .gridjs-sort {
  color: #fff;
  opacity: 1;
}
.dark .gridjs-th-content {
  padding-right: 0.5rem;
}
.dark .gridjs-th:hover {
  background-color: #1f2937; /* Dark mode هدر */
}
.dark .gridjs-th:blur {
  background-color: #1f2937; /* Dark mode هدر */
}
.gridjs-td {
  background-color: white;
  color: #111827;
}
.dark .gridjs-td {
  background-color: #374151;
  color: #e5e7eb;
  border: 1px solid #1f2937;
}
.gridjs-tr:hover {
  background-color: #f3f4f6;
}
.dark .gridjs-tr:hover {
  background-color: #4b5563;
}
.dark .gridjs-input {
  background-color: #1f2937;
  color: #f9fafb;
}
.dark .gridjs-footer,
.dark .gridjs-summary {
  background-color: #1f2937;
  color: #fff;
  border: 1px solid #1f2937;
}
.dark .gridjs-input {
  border: none !important;
}



/* رنگ اسکرول‌بار برای مرورگرهای Webkit */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0; /* رنگ بک‌گراند */
  border-radius: 50rem;
}

::-webkit-scrollbar-thumb {
  background-color: #3490dc; /* رنگ اسکرول */
  border-radius: 20px;
}


/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {    
  content:"";
  grid-area: 1/1;
  --c:no-repeat radial-gradient(farthest-side,#3490dc 92%,#0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

@keyframes l12 { 
  100%{transform: rotate(.5turn)}
}